.hidden{
    display: none;
}

body{
        font-family: "Roboto", sans-serif;
        font-variation-settings: "wdth" 100;
        color: #434455;
        background-color: #fff; 
       
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;    
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding-left: 0;
    list-style-type: none;   
}

button{
    cursor: pointer;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0, 0, 0, 0);
 overflow: hidden;
}

/*common*/

.container{
    width: 320px;
    margin: 0 auto; 
    padding: 0 16px;
    justify-content: space-between;
}

@media screen and (min-width: 768px){
    .container{
    width: 768px;
}
}

@media screen and (min-width: 1158px){
    .container{
    width: 1158px;
    padding: 0 15px;
}
}

/*header*/

 .header-container{
    display: flex;
    align-items: center;
} 


.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo-header{
    display: block;
    padding: 16px 0;
    text-decoration: none;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
font-size: 18px;

line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.studio-up{
    color: #2e2f42;
}


.logo{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.list,
.contact{
    display: none;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2f2f37;
}

/*hero-baner*/

.big-title{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e2f42;
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);   
}

.main-title{
    font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;

 width: 216px;
 padding: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.button {
    background-color: #4d5ae5;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*section 2 about*/

.list-about{
    padding: 96px 16px;
    padding-bottom: 24px;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-item{
    margin-bottom: 72px;
}

.title{
    font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
padding-bottom: 8px;
}

.text{
    font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

/*section-3 team*/

.team{
    background-color: #F4F4FD;
    padding: 96px 28px;
}

.title-team{
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
}

.list-team{
    row-gap: 72px;
}

.background{
    margin-top: 72px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.about-people{
    padding:  32px 0;
}

.title, .title-man{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
        
}

.title{
    color: #2e2f42;
}

.title-man{
    text-align: center;
    color: #2e2f42;
    display: block;
    margin-bottom: 8px;
}

.title-team{
    font-size: 36px;
        letter-spacing: 0.02em;
        text-align: center;
}

.social-contact{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0;
    justify-content: center;
    margin-top: 8px;
}

.social-contact-list{
    height: 40px;
    width: 40px;
}

.social-btn{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-btn:hover, .social-btn:focus{
    background-color: #404bbf;
}

.icon{
    fill: #f4f4fd;
}

.text{
    letter-spacing: 0.02em;
}

p{
    color: #434455;
    line-height: 1.5;
}

.text-center{
    text-align: center;
    letter-spacing: 0.02em; 
    display: block;
}

/*section-4 portfolio*/

.section-portfolio{
    padding: 96px 0;
}

.title-portfolio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.list-portfolio{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
     row-gap: 48px;
}

.actives{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.actives:hover, .actives:focus .txt-change{
    transform: translateY(0%);
}

.actives:hover, .actives:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.description{
     position: relative;
     overflow: hidden;
}

.actives:hover .txt-change{
    transform: translateY(0);
}

.description-foto{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.txt-change{
    background-color: #4d5ae5;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.txt-card{
    padding: 32px 16px;
}

.txt-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/*footer*/

.down{
    background-color: #2e2f42;
    padding: 96px 0;
}

.logo{
    font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;

    margin: 0 auto;
    padding-left: 0px;
    display: inline-block;
    margin-bottom: 16px;
    justify-content: flex-start;
    text-align: center;
}

.logo-white{
    color: #F4F4FD;
}

.downtxt {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    width: 288px;
    margin-bottom: 72px;
}

.social-media{
    font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 16px;
}

.list-down{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0;
    list-style-type: none;
}

.down-list{
    width: 40px;
    height: 40px;
}

.down-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.down-link:hover, .down-link:focus{
    background-color: #31d0aa;
}


@media screen and (min-width: 768px){
    .burger-btn{
    display: none;
}

.logo-header{
    margin-right: 120px;
    padding: 24px 0;
}

.navigation{
    display: flex;
}

.navigation-a{
    color: #434455;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-a:hover,
.navigation-a:focus{
    color: #404bbf;
}

.contact:focus{
    color: #404bbf;
}

.list{
    display: flex;
    align-items: center;
     gap: 40px;
     padding: 0;
}

.contact{
    font-style: normal; 
    display: block;   
}

.active-navigation {
    display: block;
}

.main-menu{
    font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 20px 0;
}

.main-menu:hover,
.main-menu:focus,
.main-menu.current{
    color: #404bbf;
}

.main-menu.current{
    position: relative;
}

.main-menu.current::before,
.main-menu.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contact-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/*hero-baner*/

.main-title{
     width: 496px;
}

/*section-2 about*/

.description{
    padding: 96px 16px;
}


.list-about{
    display: flex;
   padding: 0;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}

.about-item{
    width: 356px;
    height: 120px;
    margin: 0;
}

.title{
    font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.text{
    font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

/*section-3 team*/

.team{
    padding: 104px 108px 96px;
}

.list-team{
    display: flex;
   padding: 0;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
}

.background{
    margin-bottom: 0;
}

/*section-4 porfolio*/

.list-portfolio{
column-gap: 24px;
}

.actives{
 width: calc((100% - 48px) / 2);
 max-width: 420px;
}

}



@media screen and (min-width: 1158px){
.logo-header{
    margin-right: 76px;
}

.navigation-a{
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
}

.contact-list{
    
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

/*section-2 about*/

.about{
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: block;
}

.list-about{
    height: 224px;
    row-gap: 48px;
}

.about-item{
    width: calc((100% - 3 * 24px) / 4);
}

.card-icon{
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
margin-bottom: 8px;
display: flex;
align-items: center;
justify-content: center;
}

/*section-4 portfolio*/

.actives{
    width: calc((100% - 48px) / 3);
}

}


/*mobile menu*/

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
     display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
     padding: 0;
     align-items: center;
    background-color: transparent;
    border:  1px solid rgba(0, 0, 0, 0.1);
     border-radius: 50%;
    stroke: #434455;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close{
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.mobile-menu-nav{
    margin-bottom: auto;
}

.list-mobile{
    max-width: 151px;
    max-height: 200px;
} 

.active-navigation-mobile{
    font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 40px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-navigation-mobile:hover,
.active-navigation-mobile:focus{
    color: #404bbf;
}

.active-address-mobile{
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-mobile{
    font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #434455;
}

.navigation-mobile:hover,
.navigation-mobile:focus{
    color: #4d5ae5;
}

.list-social-mobile{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    list-style-type: none;
}

.soc-contact-mob{
    width: 40px;
    height: 40px;
}

.social-mobile-a{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-soc-gamburger{
    fill: #f4f4fd; 
}

@media screen and (min-width: 768px){
    .mobile-menu{
    display: none;
}


}



